<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyfirstServlet</servlet-name>
    <servlet-class>fage_1.MyfirstServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseServlet</servlet-name>
    <servlet-class>fage_1.ResponseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownlogServlet</servlet-name>
    <servlet-class>fage_1.DownlogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ZhuanfaServlet</servlet-name>
    <servlet-class>fage_1.ZhuanfaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Dingshitiaozhuan</servlet-name>
    <servlet-class>fage_1.Dingshitiaozhuan</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo</servlet-name>
    <servlet-class>fage_1.RequestDemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo2</servlet-name>
    <servlet-class>fage_1.RequestDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UrlTest</servlet-name>
    <servlet-class>fage_1.UrlTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Referer</servlet-name>
    <servlet-class>fage_1.Referer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Cookie</servlet-name>
    <servlet-class>Cookie.Cookie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CookieDemo</servlet-name>
    <servlet-class>Cookie.CookieDemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Expires</servlet-name>
    <servlet-class>fage_1.Expires</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCookie</servlet-name>
    <servlet-class>Cookie.DeleteCookie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CookieDemo2</servlet-name>
    <servlet-class>Cookie.CookieDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CookieDemo3and2</servlet-name>
    <servlet-class>Cookie.CookieDemo3and2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionDemo1</servlet-name>
    <servlet-class>session.SessionDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletCount</servlet-name>
    <servlet-class>fage_1.ServletCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyfirstServlet</servlet-name>
    <url-pattern>/MyfirstServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyfirstServlet</servlet-name>
    <url-pattern>/shabi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseServlet</servlet-name>
    <url-pattern>/servlet/ResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownlogServlet</servlet-name>
    <url-pattern>/servlet/DownlogServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZhuanfaServlet</servlet-name>
    <url-pattern>/servlet/ZhuanfaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Dingshitiaozhuan</servlet-name>
    <url-pattern>/servlet/Dingshitiaozhuan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo</servlet-name>
    <url-pattern>/servlet/RequestDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo2</servlet-name>
    <url-pattern>/servlet/RequestDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UrlTest</servlet-name>
    <url-pattern>/servlet/UrlTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Referer</servlet-name>
    <url-pattern>/servlet/Referer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Cookie</servlet-name>
    <url-pattern>/servlet/Cookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieDemo</servlet-name>
    <url-pattern>/servlet/CookieDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Expires</servlet-name>
    <url-pattern>/servlet/Expires</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCookie</servlet-name>
    <url-pattern>/servlet/DeleteCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieDemo2</servlet-name>
    <url-pattern>/servlet/CookieDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieDemo3and2</servlet-name>
    <url-pattern>/servlet/CookieDemo3and2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionDemo1</servlet-name>
    <url-pattern>/servlet/SessionDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletCount</servlet-name>
    <url-pattern>/servlet/ServletCount</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>